name: Check

on:
  pull_request:
  push:
    branches:
      - master
      - 'release/zeek-*'
    tags:
      - 'v*'
      - '!v*-dev'

jobs:
  Test:
    name: Run BTest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
            python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v5
      - name: "Install pip and the packages"
        run: |
            python3 -m pip install --upgrade pip
            python3 -m pip install .[dev]
      - name: "Run btests with installed version"
        run: |
            cd testing
            which btest
            make BTEST="$(which btest)"
      - name: "Test building package"
        run: |
            python3 -m build

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
    - uses: pre-commit/action@v3.0.1
